<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <!--banner image starts-->
      <img src="assets/img/banner.png" class="smartcitybanner  mt-auto" alt="solutions banner image">
      <!--banner image ends-->
      <div class="headings banner-align mt-4">
        <!--banner heading starts-->
        <h1 class="text-white mt-5">Solutions</h1>
        <!--banner heading ends-->
        <!--banner content starts-->
        <p class="text-white para"> With the pivotal implementation of people, processes, information and technologies we solve the criticalities and build rigid solutions.</p>
        <!--banner content ends-->
      </div>
    </div>
  </div>
</div>

<!--Main container starts-->
<div class="container-fluid mt-5 sectionmain-container ">
  <!--smartcityplatform row starts-->
  <div class="row mt-5">
    <div class="col-lg-3 col-md-4 col-sm-12 p-3 img1 my-auto ">
      <!--smartcityplatform image starts-->
      <img src="assets/img/s1.png" class="img-fluid" alt="smart city platform image">
      <!--smartcityplatform image ends-->
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 p-3 my-auto justify-content">
      <!--smartcityplatform heading starts-->
      <h3><b>Smart Service Platform</b></h3>
      <!--smartcityplatform heading ends -->
      <!--smartcityplatform content starts-->
      <p class="solution-content">
        Addant provides software architecture and development services for our client’s Horizon Smart service platform. This is a multi-tenant platform with various cloud-based services such as smart move, smart parking
        access, smart transportation fleet management, CRM,
        information media etc. The platform also provides
        gateways to connect to different payment services,
        access real-time data from various tenant sources,
        retrieve huge amount of data from various sensors etc.
        Horizon backend can integrate with various downstream
        domain applications & services for their custom needs.
      </p>
      <!--smartcityplatform content ends-->
      <a routerLink="./smartcityplatform" class="learnmore">Learn more <img src="assets/img/learnmorearow.svg" class="img-fluid right-arrow learnmore1"></a>
    </div>
  </div>
  <!--smartcityplatform row ends-->

  <!--casino management row starts-->
  <div class="row mt-5">
    <div class="col-lg-9 col-md-8 col-sm-12 my-auto myorder2">
      <!--casino management heading starts-->
      <h3><b>Casino Management System</b></h3>
      <!--casino management heading ends-->
      <!--casino management content starts-->
      <p class="solution-content">
        Addant provides software design, development, and operations support for our Europe based client’s next generation Casino Management System. Leveraging cloud-based connected casino services approach, we
        developed applications to manage casino floor, cage
        accounting, player transactions, slot and table games
        management, and player campaigns. Our services include
        development of touchscreen applications for casino
        entrance management, web-based casino configurations
        management, player facing mobile apps, integrated
        services with different payment platforms, and
        integration with different bill and coin counting
        devices.
      </p>
      <!--casino management heading ends-->
      <a routerLink="./solutions/casinomanagementsystem" class="learnmore">Learn more <img src="assets/img/learnmorearow.svg" class="img-fluid learnmore1"></a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 p-3 img2 my-auto myorder1">
      <!--casino management image starts-->
      <img src="assets/img/s2.png" class="img-fluid" alt="casino management image">
      <!--casino management image ends-->
    </div>
  </div>
  <!--casino management row ends-->

  <!--Hospitality management row starts-->
  <div class="row mt-3 mb-5 mt-5">
    <div class="col-lg-3 col-md-4 col-sm-12 p-3 img3 my-auto">
      <!--Hospitality management image starts-->
      <img src="assets/img/s3.png" class="img-fluid" alt="hospitality management image">
      <!--Hospitality management image ends-->
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 p-3 my-auto">
      <!--Hospitality management heading starts-->
      <h3><b>Hospitality Management</b></h3>
      <!--Hospitality management heading ends-->
      <!--Hospitality management content starts-->
      <p class="solution-content">
        Addant has expertise in the development and support of professional hospitality management services that provided top notch experience for guests in different industries. We supported and developed a virtual
        receptionist system for one of our US based clients. The
        system provides a live interactive communication
        experience with a touch screen kiosk application where
        visitors can check-in and check-out at office lobby
        without the need of a receptionist. Architectural choice
        supports various communication protocols abstraction for
        easy adoption to any major enterprises lobby management.
      </p>
      <!--Hospitality management content ends-->
      <a routerLink="./solutions/hospitalitymanagement" class="learnmore">Learn more <img src="assets/img/learnmorearow.svg" class="img-fluid learnmore1" /></a>
    </div>
  </div>
  <!--Hospitality management row ends-->
</div>
<!--Main container ends-->
