<!--Footer starts-->
<footer id="footer" class="text-center text-lg-start text-dark footer-section">
  <!--section starts-->
  <section class="banner-align">
    <div class="container-fluid footernav-container text-center text-md-start mt-5 ">
      <div class="row mt-3">
        <!--footer links first row starts-->
        <div class="col-md-2 col-lg-2 col-xl-2  mb-sm-0 mb-lg-4 mb-md-0">
          <p><a routerLink="/aboutus.html" class="footerlinks">About</a></p>
          <p><a routerLink="/lifeataddant" class="footerlinks">Life at Addant</a></p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2  mb-sm-0 mb-lg-4 mb-md-0">
          <p><a routerLink="/careers" class="footerlinks">Careers</a></p>
          <p><a routerLink="/blogs" class="footerlinks">Blogs</a></p>
        </div>
        <!--footer links first row ends-->
        <!--footer links second row starts-->
        <div class="col-md-4 col-lg-4 col-xl-3  mb-sm-0 mb-lg-4 mb-md-0">
          <p><a routerLink="/contact" class="footerlinks">Contact</a></p>
          <p>
            <a href="https://goo.gl/maps/UFuSEiiDhQJefUNb8" target="_blank" class="footerlinks addressfooter">
              2707, Yamuna<br>Technopark Phase III,<br>
              Trivandrum, Kerala, India
            </a>
          </p>
          <!--social media links starts-->
          <p class="footerlinks mt-1">
            <a href="mailto:info@addant.com">
              <img src="assets/img/footer/email.svg" class="footer-socialmedia" alt="email icon">
            </a>
            <a href="https://www.facebook.com/AddantSystems" target="_blank">
              <img src="assets/img/footer/facebook.svg" class="footer-socialmedia" style="margin-left: 8px;" alt="facebook icon">
            </a>
            <a href="https://www.instagram.com/addantlife/" target="_blank">
              <img src="assets/img/footer/insta.svg" class="footer-socialmedia" style="margin-left: 8px;" alt="instagram icon">
            </a>
            <a href="https://in.linkedin.com/company/addant-systems" target="_blank">
              <img src="assets/img/footer/linkedin.svg" class="footer-socialmedia" style="margin-left: 8px;" alt="linkedin icon">
            </a>
            <a href="https://www.youtube.com/channel/UCMPNjxawlQ00Ny9o0J7bTSA" target="_blank">
              <img src="assets/img/footer/youtube.svg" class="footer-socialmedia" style="margin-left: 8px;height: 3vh !important;" alt="youtube icon">
            </a>
          </p>
          <!--social media links ends-->
        </div>
        <!--footer links second row ends-->
        <!--footer copyrights starts-->
        <div class="copyrights mb-3">
          <p class="copyrights">© 2022 Addant Systems. All Rights Reserved</p>
          <p class="copyrights cookies mt-3">To accept cookies continues browsing as normal or read how to decline them in our <a routerLink="/cookies"><strong>Cookie policy</strong></a>. Please also see our <a routerLink="/privacy"><strong>Privacy policy</strong></a>.</p>
        </div>
        <!--footer copyrights ends-->
      </div>
    </div>
  </section>
  <!--section ends-->
</footer>
<!--footer ends-->
