    <!-- =====Section expertise Banner start==== -->
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <img src="./assets/img/expertisebanner.png" class="smartcitybanner  mt-auto">
      <div class="headings banner-align mt-4">
        <h1 class="text-white mt-4">Services</h1>
        <p class="text-white para">
          Our vast domain expertise and
          software design & development experience allow us to
          provide quality software services to any type of
          business requirements efficiently.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- =====Section expertise Banner end==== -->
<!-- ======= Expertise Listing Section Start ======= -->
<div class="banner-align">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="tabs-container">
        <nav class="tabs my-4">
          <ul>
            <li id="list" data-tab="tab-1">Kiosk & Touchscreen</li>
            <li id="list" data-tab="tab-4">Mobile Applications</li>
            <li id="list" data-tab="tab-2">Web Applications</li>
            <li id="list" class="active" data-tab="tab-6">Cloud Solutions</li>

            <li id="list" data-tab="tab-3">Desktop Applications</li>
            <li id="list" data-tab="tab-7">Data Science & Engineering</li>
            <!-- <li id="list" data-tab="tab-5">IOT</li> -->
            <!-- <li data-tab="tab-8">Maintenance Services</li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ======= Expertise Listing Section End ======= -->
<!-- section Kiosk & Touchscreen start -->
<div id="tab-1" class="tab-content  Expertise-content-Padding mt-4 mb-5">
  <div class="banner-align">
    <div class="row align-items-end">
      <div class="col-xl-3 col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
        <img src="assets/img/Expertise/KioskTouchscreen.png" class="img-fluid">
      </div>
      <div class="col-xl-9 col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
        <h3 class="Expertise-List-heading">Kiosk & Touchscreen</h3>
        <p class="Expertise-List-content mb-0">We provide custom kiosk software development for our customer’s current and future needs. Our kiosk & touchscreen development team builds efficient UIs, multi-tenant services, hardware interfaces, branding management, resource management, and remote administration.  We offer a range of kiosk software with many hardware interfacing for various business. We have significant experience in designing and developing interactive kiosks software for a wide range of industries such as smart cities, parking control systems, hospitality services, and casino gaming systems.</p>

      </div>
    </div>
  </div>
</div>
<!-- section Kiosk & Touchscreen end -->
<!-- section web solutions start -->
<div id="tab-2" class="tab-content Expertise-content-Padding mt-4 mb-5">
  <div class="banner-align">
    <div class="row align-items-end">
      <div class="col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
        <img src="assets/img/Expertise/WebSolutions.png" class="img-fluid">
      </div>
      <div class="col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
        <h3 class="Expertise-List-heading">Web Applications</h3>
        <p class="Expertise-List-content mb-0">We build custom tailored web solutions to fit our customer’s business goals. Our team work backwards from customer requirements and focuses on user experience (UX), high performance, availability, and scalability. We always use the most apt technology while staying focused on the business requirements. We provide UX (mockups/wireframes) for all customer journey, UI design, application development considering security and data privacy, quality assurance, and operations support. We serve customers from a variety of industries in both B2B and B2C bases.</p>

      </div>
    </div>
  </div>
</div>
<!-- section web solutions end -->
<!-- section desktop applications start -->
<div id="tab-3" class="tab-content Expertise-content-Padding mt-4 mb-5">
  <div class="banner-align">
    <div class="row align-items-end">
      <div class="col-md-3 col-sm-12  padding-col-3-x-axis d-flex justify-content-center">
        <img src="assets/img/Expertise/DesktopApplication.png" class="img-fluid">
      </div>
      <div class="col-md-9 col-sm-12  padding-col-9-x-axis my-auto">
        <h3 class="Expertise-List-heading">Desktop Applications</h3>
        <p class="Expertise-List-content mb-0">At Addant, we help our customers with their unique need of custom desktop applications targeting two operating systems – Windows and macOS. Our development team has built extensible desktop applications leveraging the best architecture and infrastructure. The team at Addant has the technical expertise and extensive experience to solve our clients’ complex issues. We pay proper attention to business while choosing the best fit UI technology. We also understand that theming is important for such applications, and we validate it in design phase. Deployment strategy is also very important, we consider various technology options for optimal customer experience.</p>

      </div>
    </div>
  </div>
</div>
<!-- section desktop applications end -->
<!-- section Mobile Applications start -->
<div id="tab-4" class="tab-content Expertise-content-Padding mt-4 mb-5">
  <div class="banner-align">
    <div class="row align-items-end">
      <div class="col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
        <img src="assets/img/Expertise/MobileApplication.png" class="img-fluid">
      </div>
      <div class="col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
        <h3 class="Expertise-List-heading">Mobile Applications</h3>
        <p class="Expertise-List-content mb-0">
          Be it consumer or enterprise based, Addant offers design, development, deployment, and maintenance of value-added mobile applications across iOS & Android platforms. Our team has significant experience when it comes to native or cross-platform development, and they focus on creating intuitive interfaces ensuring seamless user engagement. We always partner with our customers in understanding the features they need and want. Then we sketch the wireframes to describe the customer journey before starting the full cycle development.
        </p>

      </div>
    </div>
  </div>
</div>
<!-- section Mobile Applications end -->
<!-- section cloud services start -->
<div id="tab-6" class="tab-content current Expertise-content-Padding mt-4 mb-5">
  <div class="banner-align">
    <div class="row align-items-end">
      <div class="col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
        <img src="assets/img/Expertise/CloudServices.png" class="img-fluid">
      </div>
      <div class="col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
        <h3 class="Expertise-List-heading">Cloud Solutions</h3>
        <p class="Expertise-List-content mb-0">We recognize the paradigm shift from the traditional software development to the modern applications development, leveraging cloud tools. Cloud applications bring higher scalability, easier management, and reduced cost through microservices, better automation and DevOps practices. It is our responsibility to help our customers effectively meet the demands of their users and remain competitive. At Addant, we provide cloud development and support for our customers leveraging Amazon AWS and Microsoft Azure stack.</p>

      </div>
    </div>
  </div>
</div>
<!-- section cloud services end -->
<!-- section DataScience & Engineering start -->
<div id="tab-7" class="tab-content Expertise-content-Padding mt-4 mb-5">
  <div class="banner-align">
    <div class="row align-items-end">
      <div class="col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
        <img src="assets/img/Expertise/DataScienceEngineering.png" class="img-fluid">
      </div>
      <div class="col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
        <h3 class="Expertise-List-heading">Data Science & Engineering</h3>
        <p class="Expertise-List-content mb-0">With our quest to learn and adapt to the evolving algorithms and models, we bring in unique and advanced data engineering methodologies enabling businesses to optimise data towards usability there by ensuring scalability, tailored user driven solutions, and optimised predictive analysis. Implementation of scalable data driven solutions dealing with real-time and batch data pipelines are of our major strengths.</p>

      </div>
    </div>
  </div>
</div>
<!--section DataScience & Engineering end-->

<div class="m-4">
  <ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
      <a href="#home" class="nav-link active" data-bs-toggle="tab">Home</a>
    </li>
    <li class="nav-item">
      <a href="#profile" class="nav-link" data-bs-toggle="tab">Profile</a>
    </li>
    <li class="nav-item">
      <a href="#messages" class="nav-link" data-bs-toggle="tab">Messages</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="home">
      <h4 class="mt-2">Home tab content</h4>
      <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
    </div>
    <div class="tab-pane fade" id="profile">
      <h4 class="mt-2">Profile tab content</h4>
      <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
    </div>
    <div class="tab-pane fade" id="messages">
      <h4 class="mt-2">Messages tab content</h4>
      <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit. Donec at erat magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum laoreet. Mauris et ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus imperdiet. Cum sociis natoque penatibus et magnis.</p>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#myTab a").click(function (e) {
      e.preventDefault();
      $(this).tab("show");
    });
  });
</script>

<script>
  $(document).on('click', '#list', function () {
    $('li').removeClass('active');
    $('ul').toggleClass('expanded');
    $(this).addClass('active');
    var tab_id = $(this).attr('data-tab');
    $('.tab-content').removeClass('current');
    $(this).addClass('current');
    $('#' + tab_id).addClass('current');
  });
</script>

