<!-- ======= Header ======= -->
<!-- End Header -->
<!-- ======= about Banner Section ======= -->

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <img src="./assets/img/aboutbanner.png" class="smartcitybanner  mt-auto">
      <div class="headings banner-align mt-4">
        <h1 class="text-white mt-4">About Us</h1>
        <p class="text-white para">
          Addant Is the realization of a dream to build a technology driven organization with employee harmony and client fulfillment.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="main-container  banner-align ">
  <div class="container-fluid">
    <div class=" whoweare row mt-5 mb-5">
      <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 my-auto first">
        <div class="aboutus-content">
          <h4 class="aboutus-heading mt-sm-3">Who We Are</h4>
          <p class="aboutus-para">
            We are a team of technology enthusiasts spread
            across India and
            North America. Our team keeps creativity at the
            heart of all we
            do. At Addant, we believe there are better ways
            of developing
            software. We value diversity and truly believe
            that different
            backgrounds, ideas, and perspectives are what
            make us stronger
            and self-organized. Addant is a space where you
            will find passion, skills, industry experience, with a desire to make a difference.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 second">
        <img src="assets/img/whowe.png" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="whatweare row mt-5 mb-3">
      <div class=" col-lg-4 col-xl-4 col-md-12 col-sm-12">
        <img src="assets/img/whatwe.png" class="img-fluid" />
      </div>
      <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 my-auto">
        <div class="aboutus-content">
          <h4 class="aboutus-heading">Who We Do</h4>
          <p class="aboutus-para">
            We are a team of technology enthusiasts spread
            across India and
            North America. Our team keeps creativity at the
            heart of all we
            do. At Addant, we believe there are better ways
            of developing
            software. We value diversity and truly believe
            that different
            backgrounds, ideas, and perspectives are what
            make us stronger
            and self-organized. Addant is a space where you
            will find passion, skills, industry experience, with a desire to make a difference.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="aboutus-video">
    <div class="container-fluid">
      <div class="row">
        <h4 class="aboutus-heading">Featured Video</h4>
        <p class="aboutus-para mb-4">
          We offer software architecture, system design,
          development, and operations support of software
          solutions with a focus on current and future
          technology stack. We do rapid prototyping and
          perform Design Sprints to validate customer
          experience early in the software conceptual
          phase. We strictly follow agile methodology for
          system design, development, test, and
          deployment.
        </p>
        <video id="my-video" class="video-js" controls preload="auto" poster="assets/img/addantvideoposter.png" data-setup='' loop>
          <source src="assets/img/addantvideo.mp4" type='video/mp4'>
        </video>
      </div>
    </div>
  </div>

  <div class="aboutus-mission">
    <div class="container-fluid mt-5 mb-5">
      <div class="row">
        <h4 class="aboutus-heading">Our Mission</h4>
        <p class="aboutus-para">
          We offer software architecture, system design,
          development, and operations support of software
          solutions with a focus on current and future
          technology stack. We do rapid prototyping and
          perform Design Sprints to validate customer
          experience early in the software conceptual
          phase. We strictly follow agile methodology for
          system design, development.
        </p>

        <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 aboutus-card">
          <div class="aboutus-cardheading">
            Technology Drive<img src="assets/img/about-1.png" class="img-fluid" />
          </div>

          <p class="aboutus-cardpara">
            Without a good awareness of
            cutting-edge technologies,
            no software company can
            excel.
            With that realization
            we always stay on top o technologies and use them
            effectively in our services.
          </p>

        </div>
        <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 aboutus-card">
          <div class="aboutus-cardheading">
            Employee Growth<img src="assets/img/about-2.png" class="img-fluid" />
          </div>

          <p class="aboutus-cardpara">
            Addant
            encourages the team to
            always be curious and
            undoubtedly believes the
            company’s success relies on
            the team’s success. Our team
            is our asset, and we strive
            to take them to their next level.
          </p>

        </div>
        <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 aboutus-card">
          <div class="aboutus-cardheading">
            Quality Delivery<img src="assets/img/about-3.png" class="img-fluid" />
          </div>

          <p class="aboutus-cardpara">
            We strongly believe in
            process-oriented development
            methodologies and adopt them
            in all respects to provide
            consistent quality delivery
            in a cost-effective way. 

          </p>

        </div>

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 aboutus-card">
          <div class="aboutus-cardheading">
            Commitment<img src="assets/img/about-4.png" class="img-fluid" />
          </div>

          <p class="aboutus-cardpara">
            We listen
            to our clients
            deliver our promises. Our
            customer obsession equals
            committing to learn our
            client requirements an
            develop action plans to
            implement end products in a
            customer friendly process.



          </p>

        </div>

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 aboutus-card">
          <div class="aboutus-cardheading">
            Commitment<img src="assets/img/about-4.png" class="img-fluid" />
          </div>

          <p class="aboutus-cardpara">
            We listen
            to our clients
            deliver our promises. Our
            customer obsession equals
            committing to learn our
            client requirements an
            develop action plans to
            implement end products in a
            customer friendly process.



          </p>

        </div>

      </div>
    </div>
  </div>

</div>



<style>
  .aboutus-card {
    height: 305px;
    background: url("assets/img/aboutus-card.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2px;
    box-shadow: 0 6px 31px -2px rgb(0 0 0 / 10%);
  }

</style>

<!-- ======= Footer ======= -->



<div id=""></div>
<a  class="back-to-top d-flex align-items-center
                justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<script src='https://vjs.zencdn.net/5.4.6/video.js'></script>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Questrial'>
