<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <img src="./assets/img/blog/blogbanner.png" class="smartcitybanner w-100 mt-auto">
      <div class="headings banner-align mt-4">
        <h1 class="text-white">Welcome to our blog</h1>
        <p class="text-white para">
          Here you will find insights from Addant Systems their thoughts on where we’ve been, where we are, and where we’re going. This blog will be an all-in-one portal to the Addant perspective, and an inside look at our constantly evolving narrative.

        </p>
      </div>
    </div>
  </div>
</div>
<!--------smartcity banner end-->

<div class="container-fluid mt-3">


  <div class="row cardsbanner">
    <h4 class="mb-4"><b>Latest Blogs</b></h4>



    <div class="col-sm-3 col-md-6 col-lg-4 solutionmircocard" *ngFor="let b of blog">

      <div class="card card-height" routerLink="/detail/{{b.IdBlog}}">
        <img src="{{b.ConverImgUrl}}" class="card-img-top blog-card-img" alt="...">
        <div class="card-body" routerLink="/detail/{{b.IdBlog}}">
          <div class="user-details">
            <img class="rounded-circle" alt="userimg" src="{{b.ProfilePicUrl}}" />
            <p class="user-name d-inline ml-2">{{b.CreatedBy}}</p>
          </div>

          <h6 class="card-title mt-3">{{b.MainHeader |slice:0:52}}</h6>
          <p class="user-names d-inline ml-2"> {{b.CreatedOn | date:'medium'}}</p>

          <p class="card-text">{{b.BlogContent |slice:0:100}}</p>
        </div>
      </div>
    </div>

    <!--<div class="col-sm-3 col-md-6 col-lg-4 solutionmircocard">

      <div class="card">
        <img src="./assets/img/blog/blog2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="user-details">
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" /> <p class="user-name d-inline ml-2">Addant Admin</p>
          </div>
          <h6 class="card-title mt-3">WebRTC Real-time Communication</h6>
          <p class="card-text">Real-time communication without plugins Imagine a world where your phone, TV and computer could all communicate...</p>
        </div>
      </div>
    </div>


    <div class="col-sm-3 col-md-6 col-lg-4 solutionmircocard">

      <div class="card">
        <img src="./assets/img/blog/blog3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="user-details">
            <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" /> <p class="user-name d-inline ml-2">Addant Admin</p>
          </div>

          <h6 class="card-title  mt-3">Around Me in a City</h6>

          <p class="card-text">Whenever you go in any City, one most common thing that you have in your mind is to find your favorite restaurant/fast...</p>
        </div>
      </div>
    </div>-->


  </div>
</div>

