<!--Cookies section starts-->
<div class="cookie-policy banner-align mb-5">
  <!--cookies image starts-->
  <img src="./assets/img/cookiepolicy.png" class="img-fluid mb-5" alt="cookies image">
  <!--cookies image ends-->
  <!--cookies page content starts-->
  <div class="cookiepolicy-content">
    <p>At www.addant.com we are committed to safeguarding and preserving the privacy of our visitors.</p>
    <p>This Cookie Consent explains what happens to any personal data that you provide to us, or that we collect from you whilst you visit our site.</p>
    <p>We do update this Cookie Consent from time to time so please do review this policy regularly.</p>
    <!--cookies first row starts-->
    <h4>COOKIES IN USE ON THIS SITE</h4>
    <h5>Cookies and how they benefit you</h5>
    <p>Our website uses cookies, as almost all websites do, to help provide you with the best experience we can. Cookies are small text files that are placed on your computer or mobile phone when you browse websites.</p>
    <p>Our cookies help us:</p>
    <ul>
      <li> Make our website work as you’d expect</li>
      <li>Improve the speed/security of the site</li>
      <li>Allow you to share pages with social networks like Facebook</li>
      <li>Continuously improve our website for you</li>
      <li>Make our marketing more efficient (ultimately helping us to offer the service we do at the price we do)</li>
    </ul>
    <!--cokies first row ends--->
    <!--cookies second row starts-->
    <h4>We do not use cookies to:</h4>
    <ul>
      <li> Collect any personally identifiable information (without your express permission)</li>
      <li>Collect any sensitive information (without your express permission)</li>
    </ul>
    <h5>You can learn more about all the cookies we use below</h5>
    <!--cookies second row ends-->
    <!--cookies third row starts-->
    <h4>PERMITTING US TO USE COOKIES</h4>
    <p>If the settings on your software that you are using to view this website (your browser) are adjusted to accept cookies we take this, and your continued use of our website, to mean that you are fine with this. Should you wish to remove or not use cookies from our site you can learn how to do this below, however, doing so will likely mean that our site will not work as you would expect.</p>
    <!--cookies third row ends-->
    <!--cookies fourth row starts-->
    <h4>OUR WEBSITE FUNCTION COOKIES</h4>
    <p>We use cookies to make our website work including: (There is no way to prevent these cookies from being set other than to not use our site.)</p>
    <!--cookies fourth row ends-->
    <!--cookies fifth row starts-->
    <h4>SOCIAL WEBSITE COOKIES</h4>
    <p>So you can easily Like or Share our content on the likes of Facebook, Twitter, LinkedIn, YouTube & Pinterest. We have included sharing buttons on our site.</p>
    <p>Cookies are set by: The privacy implications on this will vary from social network to social network and will be dependent on the privacy settings you have chosen on these networks</p>
    <!--cookies fifth row ends-->
    <!--cookies sixth row starts-->
    <h4>VISITOR STATISTICS COOKIES</h4>
    <p>We use cookies to compile visitor statistics such as how many people have visited our website, what type of technology they are using (e.g. Mac or Windows which helps to identify when our site isn’t working as it should for particular technologies), how long they spend on the site, what page they look at etc. This helps us to continuously improve our website. These so-called analytics programs also tell us how people reached this site (e.g. from a search engine) and whether they have been here before helping us to put more money into developing our services for you instead of marketing spend</p>
    <!--cookies sixth row ends-->
    <!--cookies seventh row starts-->
    <h4>ADVERTISING COOKIES</h4>
    <p>Cookies are widely used in online advertising. Neither we, advertisers nor our advertising partners can gain personally identifiable information from these cookies.</p>
    <p>You can opt-out of almost all advertising cookies although we would prefer that you didn’t as ultimately adverts help keep much of the internet free. It is also worth noting that opting out of advertising cookies will not mean you won’t see adverts, just simply that they won’t be tailored to you any longer.</p>
    <!--cookies seventh row ends-->
    <!--cookies eigth row starts-->
    <h4>REMARKETING COOKIES</h4>
    <p>You may notice that sometimes after visiting a site you see increased numbers of adverts from the site you visited. This is because advertisers, including ourselves, pay for these adverts. The technology to do this is made possible by cookies and as such we may place a so-called remarketing cookie during your visit. We use these adverts to offer special offers etc. to encourage you to come back to our site. Don’t worry we are unable to proactively reach out to you as the whole process is entirely anonymised. You can opt-out of these cookies at any time as explained above.</p>
    <!--cookies eighth row ends-->
    <!--cookies ninth row starts-->
    <h4>TURNING COOKIES OFF</h4>
    <p>
      You can usually switch cookies off by adjusting your browser settings to stop it from accepting cookies. Doing so, however, will likely limit the functionality of ours and a large proportion of the world’s websites as cookies are a standard part of most modern websites.
      It may be that your concerns around cookies relate to so-called “spyware”. Rather than switching off cookies in your browser, you may find that anti-spyware software achieves the same objective by automatically deleting cookies considered to be invasive.
    </p>
    <p>Please do not hesitate to <b class="cookie-contact"><a routerLink="/contact">contact us</a></b> regarding any matter relating to this Cookie Consent using our contact page.</p>
    <!--cookies ninth row ends-->
  </div>
  <!--cookies page content ends-->
  </div>
<!--cookies section ends-->
