<!-- =====Section expertise Banner start==== -->
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <img src="./assets/img/expertisebanner.png" class="smartcitybanner  mt-auto">
      <div class="headings banner-align mt-4">
        <h1 class="text-white mt-4">Services</h1>
        <p class="text-white para">
          Our vast domain expertise and
          software design & development experience allow us to
          provide quality software services to any type of
          business requirements efficiently.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- =====Section expertise Banner end==== -->

<div class="banner-align">
  <div class="container-fluid topnav mt-4">
    <div class="row">
      <div class="tabs-container">
        <nav class="tabs mb-4" style="background: #fff; box-shadow: 0; height: 0px; ">
          <ul id="myTab" role="tablist">
            <li class="nav-item" role="presentation"><span class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Kiosk & Touchscreen</span></li>
            <li class="nav-item" role="presentation"><span class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Web Applications</span></li>
            <li class="nav-item" role="presentation"><span class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Desktop Applications</span></li>
            <li class="nav-item" role="presentation"><span class="nav-link active" id="some1-tab" data-bs-toggle="tab" data-bs-target="#some1" type="button" role="tab" aria-controls="some1" aria-selected="false">Mobile Applications</span></li>

            <li class="nav-item" role="presentation"><span class="nav-link " id="some2-tab" data-bs-toggle="tab" data-bs-target="#some2" type="button" role="tab" aria-controls="some2" aria-selected="false">Cloud Services</span></li>
            <li class="nav-item" role="presentation">
              <span class="nav-link" id="some3-tab" data-bs-toggle="tab" data-bs-target="#some3" type="button" role="tab" aria-controls="some3" aria-selected="false">Data Science & Engineering</span>
            </li>
          </ul>
        </nav>
      </div>

      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
          Services
        </button>
        <ul class="dropdown-menu p-0" aria-labelledby="defaultDropdown" id="myTab" role="tablist">
          <li class="dropdown-item nav-item" role="presentation"><span class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Kiosk & Touchscreen</span></li>
          <li class="dropdown-item nav-item" role="presentation"><span class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Web Applications</span></li>
          <li class="dropdown-item nav-item" role="presentation"><span class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Desktop Applications</span></li>
          <li class="dropdown-item nav-item" role="presentation"><span class="nav-link" id="some1-tab" data-bs-toggle="tab" data-bs-target="#some1" type="button" role="tab" aria-controls="some1" aria-selected="false">Mobile Applications</span></li>

          <li class="dropdown-item nav-item" role="presentation"><span class="nav-link" id="some2-tab" data-bs-toggle="tab" data-bs-target="#some2" type="button" role="tab" aria-controls="some2" aria-selected="false">Cloud Services</span></li>
          <li class="dropdown-item nav-item" role="presentation">
            <span class="nav-link" id="some3-tab" data-bs-toggle="tab" data-bs-target="#some3" type="button" role="tab" aria-controls="some3" aria-selected="false">Data Science & Engineering</span>
          </li>
        </ul>
      </div>



      <div class="tab-content mb-4" id="myTabContent">
        <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="banner-align">
            <div class="row align-items-end">
              <div class="col-xl-3 col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
                <img src="assets/img/Expertise/KioskTouchscreen.png" class="img-fluid">
              </div>
              <div class="col-xl-9 col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
                <h3 class="Expertise-List-heading">Kiosk & Touchscreen</h3>
                <p class="Expertise-List-content mb-0">We provide custom kiosk software development for our customer’s current and future needs. Our kiosk & touchscreen development team builds efficient UIs, multi-tenant services, hardware interfaces, branding management, resource management, and remote administration.  We offer a range of kiosk software with many hardware interfacing for various business. We have significant experience in designing and developing interactive kiosks software for a wide range of industries such as smart cities, parking control systems, hospitality services, and casino gaming systems.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="banner-align">
            <div class="row align-items-end">
              <div class="col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
                <img src="assets/img/Expertise/WebSolutions.png" class="img-fluid">
              </div>
              <div class="col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
                <h3 class="Expertise-List-heading">Web Applications</h3>
                <p class="Expertise-List-content mb-0">We build custom tailored web solutions to fit our customer’s business goals. Our team work backwards from customer requirements and focuses on user experience (UX), high performance, availability, and scalability. We always use the most apt technology while staying focused on the business requirements. We provide UX (mockups/wireframes) for all customer journey, UI design, application development considering security and data privacy, quality assurance, and operations support. We serve customers from a variety of industries in both B2B and B2C bases.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="banner-align">
            <div class="row align-items-end">
              <div class="col-md-3 col-sm-12  padding-col-3-x-axis d-flex justify-content-center">
                <img src="assets/img/Expertise/DesktopApplication.png" class="img-fluid">
              </div>
              <div class="col-md-9 col-sm-12  padding-col-9-x-axis my-auto">
                <h3 class="Expertise-List-heading">Desktop Applications</h3>
                <p class="Expertise-List-content mb-0">At Addant, we help our customers with their unique need of custom desktop applications targeting two operating systems – Windows and macOS. Our development team has built extensible desktop applications leveraging the best architecture and infrastructure. The team at Addant has the technical expertise and extensive experience to solve our clients’ complex issues. We pay proper attention to business while choosing the best fit UI technology. We also understand that theming is important for such applications, and we validate it in design phase. Deployment strategy is also very important, we consider various technology options for optimal customer experience.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="some1" role="tabpanel" aria-labelledby="some1-tab">
          <div class="banner-align">
            <div class="row align-items-end">
              <div class="col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
                <img src="assets/img/Expertise/MobileApplication.png" class="img-fluid">
              </div>
              <div class="col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
                <h3 class="Expertise-List-heading">Mobile Applications</h3>
                <p class="Expertise-List-content mb-0">
                  Be it consumer or enterprise based, Addant offers design, development, deployment, and maintenance of value-added mobile applications across iOS & Android platforms. Our team has significant experience when it comes to native or cross-platform development, and they focus on creating intuitive interfaces ensuring seamless user engagement. We always partner with our customers in understanding the features they need and want. Then we sketch the wireframes to describe the customer journey before starting the full cycle development.
                </p>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="some2" role="tabpanel" aria-labelledby="some2-tab">
          <div class="banner-align">
            <div class="row align-items-end">
              <div class="col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
                <img src="assets/img/Expertise/CloudServices.png" class="img-fluid">
              </div>
              <div class="col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
                <h3 class="Expertise-List-heading">Cloud Solutions</h3>
                <p class="Expertise-List-content mb-0">We recognize the paradigm shift from the traditional software development to the modern applications development, leveraging cloud tools. Cloud applications bring higher scalability, easier management, and reduced cost through microservices, better automation and DevOps practices. It is our responsibility to help our customers effectively meet the demands of their users and remain competitive. At Addant, we provide cloud development and support for our customers leveraging Amazon AWS and Microsoft Azure stack.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade " id="some3" role="tabpanel" aria-labelledby="some3-tab">
          <div class="banner-align">
            <div class="row align-items-end">
              <div class="col-md-3 col-sm-12 padding-col-3-x-axis d-flex justify-content-center">
                <img src="assets/img/Expertise/DataScienceEngineering.png" class="img-fluid">
              </div>
              <div class="col-md-9 col-sm-12 padding-col-9-x-axis my-auto">
                <h3 class="Expertise-List-heading">Data Science & Engineering</h3>
                <p class="Expertise-List-content mb-0">With our quest to learn and adapt to the evolving algorithms and models, we bring in unique and advanced data engineering methodologies enabling businesses to optimise data towards usability there by ensuring scalability, tailored user driven solutions, and optimised predictive analysis. Implementation of scalable data driven solutions dealing with real-time and batch data pipelines are of our major strengths.</p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





