
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <img src="./assets/img/careerbanner.png" class="smartcitybanner  mt-auto">
      <div class="headings banner-align mt-4">
        <h1 class="text-white mt-4">Join Us</h1>
        <p class="text-white para">
          With our core fundamentals of ownership and harmony, we have an ecosystem
          that ensures your career growth in the right direction.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- =====Section carrer Banner end==== -->

<div class="container-fluid carrer-mainsection mt-5">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="./assets/img/addant logoo.png" class="img-fluid">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 carrercontent">
      <h4>Overview</h4>
      <p class="carrercontent-1">
        Addant is always on the lookout for top
        performers and talented people to complement our team of seasoned
        professionals. We welcome fresh graduates to come and build a career
        with us. What greets you at Addant will be a high spirited work
        environment that rewards performance and initiatives with ample
        opportunities to learn, earn, and grow.
      </p>

      <button class="applynowbtn">Life at Addant</button>
    </div>
  </div>

  <div class="openings mt-5">
    <div class="text-left">
      <h4>Open Positions</h4>
      <section id="career" class="career section-bg carrer-collapse mt-4 mb-4 careerpage-li">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row" *ngIf="position.length==0">
            <p>No jobs here</p>
          </div>
          <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1 jobs" *ngFor="let job of position; let i = index">

              <ngb-accordion [closeOthers]="true"  (click)="showup(job.IdPosition)">
                <ngb-panel id="static-1" title="{{job.Name}}">
                  <ng-template ngbPanelContent>
                    <ul class="jobul">
                      <p *ngFor="let y of positionDetailDTOs; let i = index" style="white-space:pre-wrap;margin: 0;">
                        <br />
                        <b>{{y.SubHeader}} </b><br><br>
                        <span>{{y.SubHeaderContent}}</span>
                      </p>
                      <button class="applynowbtn" data-bs-toggle="modal" data-bs-target="#FormModal" (click)="applyJob(job.IdPosition)">Apply Now</button>
                    </ul>
                  </ng-template>
                </ngb-panel>
                
              </ngb-accordion>


              <!--<div class="accordion-lists">
                <ul>
                  <li>
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">{{job.Name}}<i id="showdown" class="bx bx-chevron-down" (click)="showup(job.IdPosition)"></i><i id="showup" class="bx bx-chevron-up icon-hide" onclick="showdown()"></i></a>
                    <div id="accordion-list-1" class="collapse collapse-content" data-bs-parent=".accordion-list">
                      
                    </div>
                  </li>
                </ul>
              </div>-->
            </div>
          </div>
        </div>
      </section>


      <div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalLabel">
                <img src="assets/img/favicon.png" style="height: 25px;width: 25px;" class="mr-2">Fill the
                details
              </h6>
              <button type="button" class="close modal-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style=" color: black;">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form class="requires-validation" [formGroup]="resumeForm">
                <div class="row mt-2">
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="mb-3">
                        <label for="first_name" class="mb-2">First Name:</label>
                        <input type="name" class="form-control" id="first_name" placeholder="Enter firstname"
                               name="first_name" formControlName="first_name"
                               [ngClass]="{ 'is-invalid': currentForm.first_name.touched && currentForm.first_name.invalid}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="mb-3">
                        <label for="last_name" class="mb-2">Last Name:</label>
                        <input type="name" class="form-control" id="last_name" placeholder="Enter lastname"
                               name="last_name"
                               formControlName="last_name"
                               [ngClass]="{ 'is-invalid': currentForm.last_name.touched && currentForm.last_name.invalid}">
                      </div>
                    </div>
                  </div>
                </div>



                <div class="row mt-2">
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="mb-3">
                        <label for="email" class="mb-2">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email"
                               name="email" formControlName="email"
                               [ngClass]="{ 'is-invalid': currentForm.email.touched && currentForm.email.invalid}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="mb-3">
                        <label for="mobile" class="mb-2">Mobile:</label>
                        <input type="tel" class="form-control" id="mobile"
                               placeholder="Enter mobile number" name="mobile"
                               formControlName="mobile"
                               [ngClass]="{ 'is-invalid': currentForm.mobile.touched && currentForm.mobile.invalid}">
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row mt-2">
                  <div class="col-12">
                    <div class="panel">
                      <div class="mb-3">
                        <label for="comment" class="mb-2">
                          Tell us about
                          yourself:
                        </label>
                        <textarea class="form-control" rows="8" id="comment" name="text" maxlength="250" formControlName="Description"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-12">
                    <div class="panel">
                      <div class="mb-3">
                        <div class="upload-btn-wrapper">
                          <label for="comment" class="mb-2">
                            Upload your
                            resume:
                          </label><br>
                                  <input type="file" name="myfile" formControlName="ResumeUrl" (change)="selectResume($event)"
                                         [ngClass]="{ 'is-invalid': currentForm.ResumeUrl.touched && currentForm.ResumeUrl.invalid}" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




                <div class="row mt-2">
                  <div class="col-12">
                    <div class="panel">
                      <!--<div class="alert alert-success  fade show" id="panel" role="alert">
                    <strong>We have received your application!</strong> we will get back to you
                    soon.
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>-->
                      <div class="mb-3">
                        <button type="button" class="btn applybtn" (click)="saveResume()">
                          Submit
                        </button>


                        <!--<script>
                          function myFunction() {
                            document.getElementById("panel").style.display = "none";
                          }
                        </script>-->

                      </div>

                    </div>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="openings mt-5">
        <div class="text-left">
          <h4>Employee Testimonials</h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 expertiseright-section">
          <div class="emp-testimonals mb-5">
            <div class="testimonial">
              <div class="container-fluid p-0">
                <owl-carousel-o [options]="customOptions">
                  <!--Kiosk & Touchscreen slider starts-->
                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>
                                Fulfilled with joy and technical growth.
                                Good platform for developers with passion. Enjoying the each and
                                every moments.
                                <sup><i class="fa-solid fa-quote-right"></i></sup>
                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/gopikatestimonial.png"
                                   alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Gopika Remesan</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>Team Lead</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                 
                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>
                                Good work environment, good work -life
                                balance, Manager and colleagues are easily
                                approachable,Absolutely employee friendly.
                                <sup><i class="fa-solid fa-quote-right"></i></sup>
                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/abhay.png" alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Abhay Kuruvath</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>Front End Developer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  
                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>
                                Addant is a company where an employee has
                                all
                                the opportunities to learn and develop
                                their
                                skills based on their sole interest.
                                <sup><i class="fa-solid fa-quote-right"></i></sup>
                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/linitestimonial.png"
                                   alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Linimol Thomas</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>Team Lead</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                 
                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>
                                Great place to work.Addant work culture
                                provides a personal and professional work
                                life
                                balance.Very supportive management.
                                <sup><i class="fa-solid fa-quote-right"></i></sup>
                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/ayanatestimonial.png"
                                   alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Ayana Vinod</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>Team Lead</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                 
                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>It's a good
                                experience to work here in Addant systems . The work culture is
                                excellent and encouraging.Great company to begin and continue your
                                career.
                                <sup><i class="fa-solid fa-quote-right"></i></sup>
                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/anjutestimonial.png"
                                   alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Anju Anilkumar</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>Software Engineer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  
                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>
                                Fulfilled with joy and technical growth.Great place to work.Good
                                work environment, good work -life
                                balance,Happy to part of Addant.
                                <sup><i class="fa-solid fa-quote-right"></i></sup>
                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/abhijith.png" alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Abhijith A G</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>UX Designer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  

                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>
                                Excellent work culture and systematic
                                approach to problem solving.Also provides
                                a
                                good work life balance.Great management
                                <sup><i class="fa-solid fa-quote-right"></i></sup>

                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/fathima.png" alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Fathima S</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>Sr.Software Engineer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>
                                Fulfilled with joy and technical growth.
                                Good platform for developers with passion. Enjoying the each and
                                every moments.
                                <sup><i class="fa-solid fa-quote-right"></i></sup>
                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/sharth.png" alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Sharath</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>QA Engineer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template carouselSlide>
                    <div class="testimonial-slide">
                      <div class="testimonial_box">
                        <div class="testimonial_box-inner">
                          <div class="testimonial_box-top">
                            <div class="testimonial_box-icon">
                              <img src="./assets/img/addant-testimonial.png" class="img-fluid">
                            </div>
                            <div class="testimonial_box-text">
                              <p>
                                <sup><i class="fa-solid fa-quote-left"></i></sup>
                                Addant is surely a second home, Comfortable working atmosphere,
                                Company is very supportive for Technical and Personal growth.
                                <sup><i class="fa-solid fa-quote-right"></i></sup>
                              </p>
                            </div>
                            <div class="testimonial_box-img">
                              <img src="./assets/img/testtimonialpics/neethu.png" alt="profile">
                            </div>
                            <div class="testimonial_box-name">
                              <h4>Neethu L</h4>
                            </div>
                            <div class="testimonial_box-job">
                              <p>Sr.Software Engineer</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <img class="img-fluid" src="./assets/img/getintouch.svg">
      <p style="font-size: 16px;">
        If you think you can help us grow, evolve and become a better
        version of ourselves, submit your resume and cover letter here!
        We'd
        love to hear from you.
      </p>
      <button class="applynowbtn" data-bs-toggle="modal" data-bs-target="#FormModal">
        Apply
        Now
      </button>


      
    </div>
  </div>
</div>



<style>
  button.close {
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
  }

  .owl-nav .ng-star-inserted {
    display: none !important;
  }
  .jobs{
      padding: 12px;
  }
  .accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
   
  }

  button.accordion-button.ng-star-inserted {
    color: black !important;
    background: white !important;
  }

  .accordion-item.ng-star-inserted {
    border: 0 !important;
  }
  
  @media only screen and (max-width: 768px) {
    .jobul {
      padding: 0px;
    }
  }
</style>
