<div class="container-fluid mt-3">
  <div class="row cardsbanner">
    <div class="col-12 blogbanner">
      <h1 class="blog-title"><b>{{MainHeader}}</b></h1>

      <div class="user-details">
        <img src="{{ProfilePicUrl}}" alt="Profile" class="rounded-circle" />
        <p class="user-name d-inline ml-2">{{CreatedBy}} </p> <p class="upload-time d-inline ml-2">{{CreatedOn |date}} . {{MinReadTime}} min read</p>
        <p class="share-blog">Share to : <button class="share-btn" tooltip="URL Copied" (click)="copyText(IdBlog)"><i class="share fa-solid fa-link clipboard"></i></button>
        <button class="share-btn" (click)="shareFb(IdBlog)"><a href={{fbLink}} target="_blank"><i class="share fa-brands fa-facebook ml-2"></i></a></button>
        <button class="share-btn"  (click)="shareLinked(IdBlog)"><a href={{linkedinLink}} target="_blank"><i class="share fa-brands fa-linkedin ml-2"></i></a></button></p>
      </div>

      <div class="banner_blog">
        <img src="{{BannerImgUrl}}" class="blog-image">
      </div>
    </div>

    <div class="col-12 blogcontent mt-4" style="white-space:pre-wrap">
      {{BlogContent}}
    </div>


    <h4 class="mb-4"><b>Related Blogs</b></h4>

    <div class="col-sm-6 col-md-6 col-lg-4 solutionmircocard" *ngFor="let b of blog">

      <div class="card card-height" routerLink="/detail/{{b.IdBlog}}" (click)="ngOnInit()">
        <img src="{{b.ConverImgUrl}}" class="card-img-top blog-card-img" alt="...">
        <div class="card-body" routerLink="/detail/{{b.IdBlog}}">
          <div class="user-details">
            <img class="rounded-circle" alt="userimg" src="{{b.ProfilePicUrl}}" />
            <p class="user-name d-inline ml-2">{{b.CreatedBy}}</p>
          </div>

          <h6 class="card-title mt-3">{{b.MainHeader |slice:0:52}}</h6>
          <p class="user-names d-inline ml-2"> {{b.CreatedOn | date:'medium'}}</p>

          <p class="card-text">{{b.BlogContent |slice:0:100}}</p>
        </div>
      </div>
    </div>


  </div>
</div>

