<!--privacy policy starts-->
<div class="cookie-policy banner-align mb-5">
  <!--privacy policy image starts-->
  <img src="./assets/img/privacypolicy.png" class="img-fluid mb-5" alt="privacy policy image">
  <!--privacy policy image ends-->
  <!--privacy policy content starts-->
  <div class="cookiepolicy-content">
    <p>The Addant Systems Private Limited website (“us”, “we”, “our”, the “service”) is operated by sole owners of the company. This page informs you of our policies regarding the collection, use and disclosure of personal data when you use our Service and the choices you have associated with that data. We use your data to provide and improve the Service.</p>
    <p>By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from <b class="cookie-contact"><a href="./home">www.addant.com</a></b></p>
    <!--privacy policy first heading starts-->
    <h4>PERSONAL INFORMATION</h4>
    <p>When you register for our services some information is captured for the sole purpose of providing our services.</p>
    <p>The information you submit at our website (www.addant.com) may include your name, address, IP address, email address, credit card information, and other details. We may also capture and store information regarding your actions in our application. We may also track the activities through any emails sent from our application. We may also get some information from social media websites.</p>
    <p>We do not use your information for any other purposes. We do not sell, rent, lease or trade your information to any individual or organisation for any purpose.</p>
    <!--privacy policy first heading starts-->
    <!--privacy policy second heading starts-->
    <h4>YOUR RIGHTS</h4>
    <ul>
      <li> The right to obtain a copy of the personal data we have collected about you in a commonly used electronic format to transmit said copy to another data controller.</li>
      <li> The right to rectify or complete the personal data we have collected about you if it is inaccurate or incomplete, and (in special circumstances) to have the data deleted.</li>
      <li>The right to restrict the processing of the personal data we have collected about you.</li>
      <li>The right to object to the processing of the personal data we have collected about you, including in respect of direct marketing.</li>
      <li>The right to withdraw any consent you have provided in respect of our processing of your personal data.</li>
    </ul>
    <p><b class="cookie-contact"><a href="./home">Addant Systems</a></b> guarantees the safety and confidentiality of all personal data stored. To this end, we have implemented the corresponding technical and organisational measures to avoid data alteration and loss, and to prevent non-authorized access, processing or treatment.</p>
    <p>You may request that we update the private information which we hold about you by mailing at <b class="cookie-contact"><a href="mailto:info@addant.com">info@addant.com</a></b></p>
    <!--privacy policy second heading ends-->
  </div>
  <!--privacy policy content ends-->
</div>
<!--privacy policy ends-->
