<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <!--banner image starts-->
      <img src="assets/img/solutionspage/smartcityplatform/smartcitybanner.png" class="smartcitybanner  mt-auto" alt="smart city platform banner image">
      <!--banner image ends-->
      <div class="headings banner-align mt-4">
        <!--banner heading starts-->
        <h1 class="text-white mt-4">Smart Service Platform</h1>
        <!--banner heading ends-->
        <!--banner content starts-->
        <p class="text-white para"> Global public services make urban life much easier and comfortable, we vanguard the solutions to manage, restore and improve the lives of the city-dwellers.</p>
        <!--banner content starts-->
      </div>
    </div>
  </div>
</div>
<!--Main container starts-->
<div class="container-fluid mt-3">
  <div class="row cardsbanner">
    <h2 style="text-align: center;"><b>Smart Service Platform</b></h2>
    <!--horizon row starts-->
    <div class="col-sm-4 col-md-6 col-lg-4 solutionmircocard">
      <div class="card">
        <!--horizon image starts-->
        <img src="assets/img/smartcityplatform/scp/horizon.png" class="card-img-top" alt="horizon image">
        <!--horizon image ends-->
        <div class="card-body">
          <h5 class="card-title">Horizon</h5>
          <p class="card-text">Horizon is an enterprise level smart service platform, which allows hosting multiple domains, services, and UIs to centrally manage and configure all smart city related services.</p>
          <!--horizon technologies starts-->
          <div class="technologies mt-1">
            <p class="tech">Asp.net Core</p>
            <p class="tech"> C# .Net</p>
            <p class="tech">Core MVC</p>
            <p class="tech">Sql Server</p>
          </div>
          <!--horizon technologies ends-->
        </div>
      </div>
    </div>
    <!--horizon row ends-->
    <!--parking-cashier row starts-->
    <div class="col-sm-4 col-md-6 col-lg-4 solutionmircocard">
      <div class="card">
        <!--parking-cashier image starts-->
        <img src="assets/img/smartcityplatform/scp/parking-cashier.png" class="card-img-top" alt="parking-cashier image">
        <!--parking-cashier image ends-->
        <div class="card-body">
          <h5 class="card-title">Parking Cashier Terminal</h5>
          <p class="card-text">
            PCT is an Operator facing app to manage and monitor all types of parkings. The mobile cashier offers a
            complete management of parking by offering the roaming capabilities of a tablet..
          </p>
          <!--parking-cashier technologies starts-->
          <div class="technologies mt-1">
            <p class="tech"> Xamarin Android</p>
            <p class="tech">Xamarin iOS</p>
            <p class="tech">C# .Net </p>
            <p class="tech">REST Api</p>
          </div>
          <!--parking-cashier technologies ends-->
        </div>
      </div>
    </div>
    <!--parking-cashier row ends-->
    <!--connected-taxi row starts-->
    <div class="col-sm-4 col-md-6 col-lg-4 solutionmircocard">
      <div class="card">
        <!--connected-taxi image starts-->
        <img src="assets/img/smartcityplatform/scp/connected-taxi.svg" class="card-img-top" alt="connected-taxi image">
        <!--connected-taxi image ends-->
        <div class="card-body">
          <h5 class="card-title">Connected Taxi</h5>
          <p class="card-text">Connected Taxi is service platform and a suite of mobile apps to help public transportation. This solution is designed and developed in a way that both private vehicles..</p>
          <!--connected-taxi technologies starts-->
          <div class="technologies mt-1">
            <p class="tech">Xamarin</p>
            <p class="tech">C# .Net</p>
            <p class="tech">Web API</p>
            <p class="tech">MS SQL</p>
          </div>
          <!--connected-taxi technologies ends-->
        </div>
      </div>
    </div>
    <!--connected-taxi row ends-->
    <!--tivoli row starts-->
    <div class="col-sm-4 col-md-6 col-lg-4 solutionmircocard">
      <a href="./tivoli.html">
        <div class="card">
          <!--tivoli image starts-->
          <img src="assets/img/smartcityplatform/scp/tivoli.svg" class="card-img-top" alt="tivoli image">
          <!--tivoli image ends-->
          <div class="card-body">
            <h5 class="card-title">CHU Tivoli</h5>
            <p class="card-text">CHU Tivoli is a parking management and payment application that offers an intuitive and pleasant experience for patients, visitors and employees of Chu Tivoli. </p>
            <!--tivoli technologies starts-->
            <div class="technologies mt-1">
              <p class="tech"> Xamarin Android</p>
              <p class="tech">Xamarin iOS</p>
              <p class="tech">C# .Net </p>
            </div>
            <!--tivoli technologies ends-->
          </div>
        </div>
      </a>
    </div>
    <!--tivoli row ends-->
    <!--scanpay row starts-->
    <div class="col-sm-4 col-md-6 col-lg-4 solutionmircocard">
      <div class="card">
        <!--scanpay image starts-->
        <img src="assets/img/solutionspage/smartcityplatform/scanpay.png" class="card-img-top" alt="scanpay image">
        <!--scanpay image ends-->
        <div class="card-body">
          <h5 class="card-title">Scan & Pay</h5>
          <p class="card-text">
            The Scan & Pay app offers a professional digital service package for retailers, professionals and / or
            businesses who want to dynamically offer parking facilities to their customers.
          </p>
          <!--scanpay technologies starts-->
          <div class="technologies mt-1">
            <p class="tech">Xamarin Android</p>
            <p class="tech">Xamarin iOS</p>
            <p class="tech">REST Api</p>
            <p class="tech">C# .Net</p>
          </div>
          <!--scanpay technologies ends-->
        </div>
      </div>
    </div>
    <!--scanpay row ends-->
    <!--multi-service-kiosk row starts-->
    <div class="col-sm-4 col-md-6 col-lg-4 solutionmircocard">
      <div class="card">
        <!--multi-service-kiosk image starts-->
        <img src="assets/img/smartcityplatform/scp/multi-service-kiosk.png" class="card-img-top" alt="multi-service-kiosk image">
        <!--multi-service-kiosk image ends-->
        <div class="card-body">
          <h5 class="card-title">Multi Service Kiosk</h5>
          <p class="card-text">Multi-service kiosk is a touch screen application that provides global public services on urban space. This kiosk solution is built on top of a kiosk platform..</p>
          <!--multi-service-kiosk technologies starts-->
          <div class="technologies mt-1">
            <p class="tech">WPF</p>
            <p class="tech">MVVM</p>
            <p class="tech">C# .Net</p>
            <p class="tech">WCF</p>
            <p class="tech">MS SQL</p>
          </div>
          <!--multi-service-kiosk technologies ends-->
        </div>
      </div>
    </div>
    <!--smartcityplatform row ends-->
  </div>
</div>
<!--Main container ends-->
