
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <img src="./assets/img/lifeataddant/funday/fundaybanner.svg" class="smartcitybanner  mt-auto">
      <div class="headings banner-align mt-4">
        <h1 class="text-white mt-4">Funday</h1>
        <p class="text-white para">
          Team outings are a great way to facilitate bonding with your team members, reduce employee stress, and give them the chance to get to know one another outside of the office.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <p class="section-heading">Funday</p>
      <p class="section-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra posuere sit maecenas. Nec tempus neque, suspendisse vel potenti. Eget nunc, sagittis nibh sit faucibus mi habitant. Varius nulla nunc molestie quam quisque ullamcorper. Bibendum vestibulum id nulla tincidunt sed faucibus rutrum morbi. Sed nec augue dolor nam. Ligula vulputate vitae lectus pellentesque. A condimentum integer id integer. Eget tortor nulla nunc nibh non ut sed pellentesque. At tellus dolor sit vitae sit. Lectus auctor et dolor eget magna. Gravida sit fringilla ornare arcu iaculis. Ut pretium consectetur ut eget. Amet, quis nunc, aliquet lobortis rhoncus, ultrices.</p>
    </div>
  </div>
</div>

<style>
  .section-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    align-items: center;
    color: #424242;
  }
  .section-para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    align-items: center;
    color: #8C8C8C;
  }
</style>
