
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

.gallery-item {
  margin: 5px;
}
.col-sm-4 {
  padding: 0 !important;
}
nav.navbar-expand-lg.navbar-dark.fixed-top[_ngcontent-qfa-c130] {
  background: #fff !important;
}
